body{
    background-color: white;

}
p1{
    font-size: 24px;
    font-family: 'Be Vietnam';
    font-weight: 600;


}
p2{
    font-size: 24px;
    font-family: 'be vietnam';
    font-weight: 400;


}