.tab{
    float: left;
    width: 100%;

}
.tab li{
    float: left;
    margin-right: 20px;
}
.tab_content{
    float: left;
    width: 400px;
    height: 200px;
    border: 1px solid #cccccc;
    display: none;

}
#home{
    display: block;
}
