body{
    background-image: url("../../hinhanh/89777417_807597389733362_562980035372253184_n.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
}
.section{
    float: left;
    width: 100%;
}

.item{
    float: left;
    width: 100%;
    margin: 15px 0;
    background-color: #2aabd2;

    border-radius: 5px;
    padding: 20px;
}
.item p{
    font-size: 20px;
    color: #ffffff;
}
.item .temp{
    font-size: 35px;
}
.item .desc{
    font-size: 16px;
}
.item .img{
    position: absolute;
    right: 10px;
    top: 40px;
}
#map{
    width: 100%;
    float: left;
    height: 500px;
}